<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body class="index-body">
    <!-- Header -->
    <%- include('partials/header')%>
    <!-- End Header -->

    <main>
        <h1>Proyecto de mi pagina</h1>
    </main>
    
    <!-- Footer -->
    <%- include('partials/footer')%>
    <!-- End Footer -->
</body>
</html>